<div class="row">
  <div class="form-group" style="margin-left: 20px">
    <label for="inputCode">Enter your device code</label>
    <input id="inputCode" style="width: 80%" class="form-control" type="text" placeholder="code" >
  </div>

</div>
<hr>
<div class="row">
  <div class="col-4 mx-auto my-auto" style="text-align: center" >
    <div id="heartReading"  class="lds-heart"><div></div></div>
    <p>{{heartSensor}}</p>
  </div>
  <div class="col-4 mx-auto my-auto" style="text-align: center">
    <br>
    <div class="loading"></div>
    <br>
    <p>{{tempSensor}}</p>
  </div>
  <div class="col-4">
    <img
      width="100%"
      height="100%"
      src="./assets/images/baby.png"
      data-holder-rendered="true"
    />
  </div>
</div>
