<div class="row">
  <div  style="margin-left: 20px;margin-top: 20px; position: center" fxLayout="row" >
    <div class="form-group">
      <label for="inputCode">Enter your device code</label>
      <input id="inputCode" style="width: 80%" class="form-control" type="text" placeholder="Device code" #code>
    </div>
    <div class="form-group">
      <label for="inputName">Enter your baby name</label>
      <input id="inputName" style="width: 80%" class="form-control" type="text" placeholder="Baby name" #name>
    </div>
    <div>
      <button mat-raised-button style="margin-top: 28px" (click)="addNewDevice(code.value, name.value)">add</button>
    </div>
  </div>

</div>
<hr>
<br>
<div class="row">
  <div class="col-4" fxLayoutAlign="center">
    <mat-card style="width: 60%">
      <mat-card-title style="font-size:1.5vw;">Heart rate</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" (click)="showGraph('heart')">
        <div id="heartReading"  class="lds-heart"><div></div></div>
        <p>{{heartSensor}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-4" fxLayoutAlign="center">
    <mat-card style="width: 60%">
      <mat-card-title style="font-size:1.5vw;">Temperature</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" (click)="showGraph('temp')">
        <div>
          <div class="loading"></div>
          <br>
          <p>{{tempSensor}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4"  fxLayoutAlign="center">
    <mat-card style="width: 60%">
      <mat-card-title style="font-size:1.5vw;">Respiration rate</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" (click)="showGraph('respir')">
        <div class="anim-circle"></div>
        <p>{{tempSensor}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<br>


