
<div class="container " style="height: 100%" >
  <div class="input-group mb-3 ">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [defaultValue]="content.title" #title>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default-1">Description</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1" [defaultValue]="content.description" #description>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div>

  <div class="custom-file">
    <label class="custom-file-label" for="validatedCustomFile">Choose cover Image</label>
    <input type="file" class="custom-file-input" id="validatedCustomFile"  (change)="onFileChanged($event)" #file>

    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div>

  <div class="text-center" >
    <img [src]="coverImage"  class="rounded border" >
  </div>
  <!--    -->
  <form style="margin: 20px 0 20px 0">
    <div class="multiselect"  >
      <div class="selectBox" (click)="showCheckboxes()">
        <select class="custom-select">
          <option>Select an option</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxes">
        <div *ngFor="let option of options; let  i = index">
          <label [for] = "option.name">
            <input type="checkbox"
                   class="form-check-input"
                   name="options"
                   [id]="option.name"
                   [checked]="option.checked"
                   [(ngModel)]="option.checked"


            />
            {{option.name}}
          </label>
        </div>

      </div>
    </div>
  </form>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      From Admin
    </label>
  </div>
  <quill-editor [styles]="{height: '50%'}" [(ngModel)]="content.html" [modules]="editor_modules"  #quill
                (onEditorChanged)="changedEditor($event)"
                >

  </quill-editor>

  <button type="submit" (click)="quillIt( title.value, description.value)"  style="margin: 10px"
          [disabled]="!title.value || !description.value || !anyItemChecked()" >upload</button>
</div>


