<div class="container-fluid emp-profile" style="justify-content: center; padding-top: 30px">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-3" style ="text-align: center">
        <div class="profile-img " style="margin-left: -50px">
          <img style="width: 255px;  height: 255px;border: solid blue" [src]="profileImg" class="rounded-circle" alt="profile picture"/>
          <div class="file btn btn-lg btn-primary">
            <span><a href='#' class="inactiveLink"><i class="fa fa-picture-o fa-2x" aria-hidden="true"></i></a><input class="activeLink" type='file' (change)="updateProfileImg($event)"/></span>
          </div>
        </div>
        <ul class="list-group" style="width: 90%; margin-top: 20px" *ngIf="tab == 0">
          <li class="list-group-item " style="font-weight: bold; font-size: x-large;color: #0062E6">Upcoming events <i class="fa fa-calendar fa-1x"></i></li>
          <li *ngFor="let event of upcomingEvents" class="list-group-item text-right">
            <div fxLayout="column" fxLayoutAlign="5px">
              <p><span class="pull-left"><strong>{{event.title}} </strong></span>{{event.description}}</p>
              <p class="text-left"> {{event.startDate}}</p>
            </div>
          </li>

        </ul>

        <ul class="list-group" style="width: 90%; padding-top: 20px" *ngIf="tab == 1">
          <li class="list-group-item " style="font-weight: bold; font-size: x-large;color: #0062E6">Baby Issues <i class="fa fa-bomb" aria-hidden="true"></i>
          </li>
          <li *ngFor="let issue of babyIssues" class="list-group-item text-right">
            <p style="text-align: left; font-weight: bold">{{issue.description + " " +issue.sensorRead.value}}</p>
            <p class="pull-right">{{issue.sensorRead.time}}</p>
          </li>

        </ul>
        <br>
      </div>

      <div class="col-md-9">
        <div class="profile-head" >
          <div class="row">
            <div class="col-6" fxLayout="column" fxLayoutAlign="center ">
              <p style="font-size:2vw;font-weight: bold">
                {{theUser.firstName + " " +theUser.lastName}}
              </p>
              <p style="font-size:1.5vw;color: #44484b">
                {{theUser.username}}
              </p>
            </div>
            <div class="col-6" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="pregnancyAccomplishment != null">
              <p style="font-weight: bolder;font-size: xx-large;font-family: 'Apple Color Emoji';padding-bottom: 20px"> Pregnancy </p>
              <mat-progress-spinner
                class="example-margin"
                color="black"
                mode="determinate"
                [value]="pregnancyAccomplishment"
                diameter="140"
                aria-label ="Pregnancy">
              </mat-progress-spinner>
              <p style="font-weight: bold; font-family: 'Apple Color Emoji'; font-size: x-large">{{pregnancyAccomplishment}}%</p>
            </div>
          </div>
          <br>

          <mat-tab-group mat-align-tabs="left" (selectedTabChange)="tab = $event.index" style="margin-top: 20px">
            <mat-tab label="Calendar">
              <br>
              <br>
              <app-calendar></app-calendar>
            </mat-tab>
            <mat-tab label="Baby monitoring">
              <baby-monitor></baby-monitor>
            </mat-tab>
            <mat-tab label="Info">
              <user-info></user-info>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
</div>

