a {
  text-decoration: none;
  transition: background-color .5s;
  width: 100%;
}

a:hover {
  background-color: lightgray;
  width: 100%;
}


.nav-caption{
  padding-left: 10px ;
  font-size: 30px;
}

.main-card{
  width: 70%;
  background-color: white;
}

.button-container{
  display:inline-block;
  position:relative;
}

.profile-pic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
  margin: 50px 30px 50px 70px;
}

.user-name{
  font-weight: normal;
  font-size: xx-large;
  margin-top: 40px;
}

.progress-spinner{
  margin-top: 40px;
}

.profile-img{
  text-align: center;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: transparent;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.inactiveLink {
  pointer-events: none;
  cursor: auto;

}

.activeLink{
  cursor: pointer ;
}

.example-margin {
  margin: 0 10px;
}
