<div class="container">
  <div class="row" style="margin-top: 40px">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center" style="font-weight: bolder">Login</h5>
          <form class="form-signin" (ngSubmit)="onSubmitForm(form)" #form="ngForm">
            <div class="form-group">
              <i class="fa fa-user fa-2x" aria-hidden="true" style="margin-bottom: 2px"></i>
              <input type="text" id="inputEmail" class="form-control" placeholder="Username" ngModel name="username" required autofocus>
            </div>

            <div class="form-group">
              <i class="fa fa-unlock-alt fa-2x" aria-hidden="true" style="margin-bottom: 2px"></i>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" ngModel name="password" required>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-secondary btn-block text-uppercase" [disabled]="!form.valid" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
