<nav class="navbar navbar-expand-sm navbar-dark bg-secondary" style="position: fixed; width: 100%; z-index: 1">
  <a class="navbar-brand" routerLink="#" style="font-weight: bold; font-size: xx-large; margin-left: 2cm"> {{companyTitle}}
    <span> <img width="50" height="50" [src]="logoUrl" style="margin-bottom: 8px"> </span>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse topnav" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active"  *ngFor="let navItem of leftNavItems"> <a class="nav-link" [routerLink]="navItem[1]" style="font-size: large;font-weight: bold"> {{navItem[0]}} </a> </li>
    </ul>
  </div>

  <div id="navbarSupportedContent" class="collapse navbar-collapse topnav" >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" *ngFor="let navItem of rightNavItems"> <a class="nav-link" [routerLink]="navItem[1]" style="font-size: large;font-weight: bold"> {{navItem[0]}} </a> </li>

    </ul>
  </div>
</nav>

