
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar  class="example-header-image"></div>
    <mat-card-title> {{blog.user.username}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image"  width="200px" height="200px" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2>
      {{ blog.title }}
    </h2>
    <p>
      {{ blog.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon color="primary" *ngIf="likeIt" (click)="onLike(true)">favorite</mat-icon>
    <mat-icon color="primary" *ngIf="!likeIt" (click)="onLike(false)">favorite_border</mat-icon>
    <small> {{blog.likes.length }}</small>
    <mat-icon color="primary" (click)="bommarkBlog()">save</mat-icon>

    <button mat-raised-button color="primary" (click)="openDialog()" style="align-self: flex-end">more</button>

  </mat-card-actions>
</mat-card>
