<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
    </tr>
    </thead>

    <tbody>
      <td>
        <div class="form-group">
          <mat-form-field appearance="outline" style="height: 50px;width: 240px">
            <mat-label style="color: black">None </mat-label>
            <mat-select [(ngModel)]="this.event.title">
              <mat-option value="option1"><i class="fa fa-user-md" aria-hidden="true" style="margin-right: 3px"></i> Doctor visit</mat-option>
              <mat-option value="option2"><i class="fa fa-medkit" aria-hidden="true" style="margin-right: 3px"></i> Medication time</mat-option>
              <mat-option value="option3">Others</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td>
        <input
          style="margin-top: 20px; margin-left: 20px"
          [(ngModel)]="this.event.color.primary"
          type="color"
        />
      </td>
      <td>
        <input
          style="margin-top: 20px; margin-left: 20px"
          [(ngModel)]="this.event.color.secondary"
          type="color"
        />
      </td>
      <td>
        <input
          style="margin-top: 20px; margin-left: 20px"
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.event.start"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          [enable]=" [
            {
              from: '2000-04-01',
              to: '2500-05-01'
            }
          ]"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>
        <input
          style="margin-top: 20px; margin-left: 20px"
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.event.end"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          [enable]=" [
            {
              from: '2000-04-01',
              to: '2500-05-01'
            }
          ]"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>

    </tbody>
  </table>
</div>
<div fxLayout="row" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="5px">
    <label style="font-weight: bold; text-align: center">Alarm</label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="reminder">
      <mat-button-toggle value="no">No</mat-button-toggle>
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxFlex></div>
  <button mat-raised-button fxFlexAlign="end" color="primary" (click)="addEvent()" *ngIf="actionType == 'add'"> ADD</button>
  <button mat-raised-button fxFlexAlign="end" color="primary" (click)="editEvent()" *ngIf="actionType == 'edit'"> Submit</button>
  <button mat-icon-button fxFlexAlign="end" color="primary" (click)="deleteEvent()"> <mat-icon>delete</mat-icon></button>

</div>
