<div
  class="card container mx-auto p-2 my-2"
  style="width: 90%;height: 100px"
>
  <div class="row" style="height: 100%;width: 100%">
    <div class="col-lg-2 p-2" style="text-align: center">
      <img
        width="60%"
        height="60%"
        class="rounded-circle"
        [src]="theUser.profileImg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-lg-10 p-2">
      <div class="form-group">
        <textarea class="form-control" placeholder="Share your experience" id="exampleFormControlTextarea1" rows="1" [(ngModel)]="postContent"></textarea>
        <div class="row">
          <div class="col-2">
            <button class="btn btn-secondary" style="height: 30px;margin-top: 10px;font-size: small;width: 80px" (click)="addPost()">Share</button>
          </div>
          <div class="col-4">
            <div class="card container my-2" style="width: 100%;height: 32px;border: none">
              <div class="row" style="height: 100%;width: 100%">
                <div class="col-4">
                  <span><a style="color: #455f6b" href='#'><i class="fa fa-paperclip fa-2x" aria-hidden="true"></i></a><input type='file' (change)="fileEvent($event)"/></span>
                </div>
                <div class="col-4">
                  <span><a style="color: #455f6b" href='#'><i class="fa fa-picture-o fa-2x" aria-hidden="true"></i></a><input type='file' (change)="imageEvent($event)"/></span>
                </div>
                <div class="col-4">
                  <span><a style="color: #455f6b" href='#'><i class="fa fa-video-camera fa-2x" aria-hidden="true"></i></a><input type='file' (change)="imageEvent($event)"/></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div
  class="card container mx-auto p-2 my-2"
  style="width: 90%;height: 120px"
  *ngIf="userPosts.length == 0"
>
  <div class="row" style="height: 100%;width: 100%">
    <div class="col-lg-12 " style="text-align: center">
      <h2>No posts available yet</h2>
      <img width="50" height="50" [src]="logoImg" >
    </div>
  </div>
</div>
<div
  class="card container-fluid mx-auto p-2 my-2"
  *ngFor="let post of userPosts"
  style="height: 100%;width: 90%; border: solid gainsboro; border-width: thin"
>
  <div class="row" style="height: 100%;width: 100%">
    <div class="col-lg-2 p-2" style="text-align: center">
      <img
        width="60%"
        height="60"
        class="rounded-circle"
        [src]="theUser.profileImg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-lg-5 p-2" style="margin-left: -20px">
      <h3 style="font-weight: bold">{{theUser.firstName + " " + theUser.lastName}}</h3>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12 p-2" >
      <p style="padding-left: 20px;padding-right: 20px; color: black;font-weight: normal; font-size: large">{{post.text}}</p>
    </div>
    <div class="col-lg-12 p-2" style="text-align: center" *ngIf="post.image != null">
      <img
        width="100%"
        height="100%"
        [src]="post.image"
        data-holder-rendered="true"
      />
    </div>
  </div>
</div>
